/* FONTS */
@font-face {
  font-family: "Ubuntu_Reg";
  src: url("./fonts//Ubuntu//Ubuntu-Regular.ttf");
}

:root {
  --primary-color: #333;
  --accent-color: hsl(39, 86%, 52%);
  --fc-title: hsl(39, 77%, 83%);
  --ff: "Ubuntu_Reg";
  --fs-title: clamp(1.8rem, 7vw, 4.5rem);
}

body {
  min-height: 100vh;
  position: relative;
  font-family: var(--ff);
  background: var(--primary-color) url("./images/logo.svg") no-repeat
    center/cover;
  padding: 0 2rem;

  #root {
    width: 100%;

    > div {
      width: 100%;
      padding: 0.8rem 0 1.3rem 0;
      border-radius: 20px;
      background-color: rgba(0, 0, 0, 0.2);

      > h1 {
        color: var(--fc-title);
        font-size: var(--fs-title);
      }

      > p {
        color: var(--accent-color);
      }
    }
  }

  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: var(--fc-title);
    margin-bottom: 2rem;

    > p {
      margin: auto;
      color: var(--accent-color);
      margin-bottom: 1rem;
      font-size: 1.2rem;
      width: 70%;
    }

    > a {
      color: rgb(172, 105, 235);
      border: 2px solid rgb(172, 105, 235);
      border-radius: 20px;
      padding: 0.5rem 0.8rem;
      font-weight: 700;
      transition: 0.2s;

      &:hover {
        opacity: 0.6;
      }
    }
  }
}
